@import "_variables.scss";
@import "./_classes.scss";
@import "./SideBar.scss";
@import "./TopBar.scss";
@import "./Leaderboard.scss";

body {
    margin: 0;
    background: $darker;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    a {
        text-decoration: none;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #dedede;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center-children {
    display: flex;
    justify-content: flex;
    align-items: flex;
}

// #App {
//     max-width: 100vw !important;
// }

// #home, #contact, #projects {
//     margin: $navbarHeight 0 0 0;
//     min-height: 100vh;
//     background-color: $dark;
//     padding: 0;
//     color: $light;
    
//     @include md {
//         margin-top: $navbarHeightLarge;
//     }
// }


// /* Links */
// a {
//     text-decoration: none;
//     color: $light;
//     font-size: 1.4rem;
// }


// /* Regular text */
// p {
//     line-height: 1.7rem;
//     text-align: left;
// }



/* Lists */
ul {
    padding: 0;
}

li {
    list-style: none;
}


// /* Images */
// img {
//     border-radius: 6px;
// }


// /* Icons */
// .icon {
//     transform: scale(1.15);
//     margin: 0.25rem 0;
// }

// .email-icon {
//     color: $light;
// }

// .facebook-icon {
//     color: #4267b2;
// }

// .linkedin-icon {
//     color: #0072b1;
//     padding: 0;
// }

// .github-icon {
//     color: $light;
// }

// a.linkedin-link, a.facebook-link {
//     &:before {
//         content: "";   
//         background-color: $light;
//         position: absolute;
//         width: 63px;
//         height: 67px;
//         border-radius: 12px;
//     }
// }
