@import "_variables.scss";
// @import "mixins";

#nav {
    position: fixed;
    height: 70px;
    overflow: hidden;
    width: 100% !important;
    max-width: 375px !important;
    top: 0;
    margin: 0 !important;
    padding: 0;
    background-color: $darker;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;

    #bell-icon {
        transform: scale(2);
    }

    #menu-icon {
        display: initial;
        cursor: pointer;
        z-index: 1;
    }

    #logo-link {
        display: flex;
        justify-content: center;
        align-items: center;

        #logo {
            display: flex;
            align-items: center;
        }
    }

}
